$blue-light: #5bc0de;
$header-height: 84px;
$header-margin-bottom: 20px;
// $header-height + $header-margin-bottom
$header-height-margin: 104px;
$header-height-margin-negative: -104px;

$footer-height: 70px;
$footer-min-height-negative: -70px;
